:root{
    --yinmn-blue: #325492ff;
    --blue-gray: #5E93BCff;
    --mint-cream: #F6FBF2ff;
    --light-blue: #B9E2E3ff;
    --pink-crayola: #EF5C68ff;
}
h1,h2,h3{
    margin: unset;
    font-weight: 500;
    font-size: 1.6em;
}
h4,h5,h6{
    margin: unset;
    font-weight: 400;
    font-size: 1.3em;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-size: 16px;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.body-container{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 2em;
}

.main-container{
    display: flex;
    flex-direction: row;
    flex-basis: 90%;
    gap: 1.5em;
    padding: 0 min(10%,200px);

}
.logo-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 60px;
    flex-shrink: 1;
    padding: 0.1em 0.1em 0.1em 1em;

}



.site-main{
    background-color: var(--seasalt);
    flex-basis: 100vw;
    overflow: clip;
}
.header-main{
    flex-basis: 40px;
    background-color: var(--yinmn-blue  );
}



.nav-container{
    color: var(--mint-cream);
    border: darkgray 1px solid;
    border-radius: 0.5rem;
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    padding: 0.5em 0;
    height: fit-content;
}
.nav-title{
    padding-top: 10px;
    font-size: 1.2em;
}
.ul-links{
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.4em;
    font-size: 1em;
    padding: 0.5em 0 ;
}
.ul-links > li{
    border-radius: 0.5rem;
    padding: 0.3em 1em 0.3em 1em;
    background-color: var(--blue-gray);
    width: 80%;
    text-overflow: ellipsis;
    overflow: clip;
    white-space: normal;
}
.ul-links > li > a{
    white-space: normal;
    text-overflow: ellipsis;
    overflow: clip;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}
.ul-links > li > a:hover{
    color: var(--light-blue);
}

.travel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
}




.travel-tab{
    color: black;
    border: darkgray 0.05rem solid;
    flex-basis: 150px;
    flex-shrink: 1;
    display: flex;
    width: 100%;
    flex-direction: row;
    border-radius: 0.5rem;
}
.travel-main{
    padding: 1em;
    flex-basis: 650px;
    overflow: clip;
    text-overflow: clip;
    flex-shrink: 1;
    flex-grow: 1    ;
}
.travel-img{
    border-radius: 0.5rem;
    border: darkgray 0.05rem solid;
}
.travel-img-cont{
    padding: 0.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-basis: 150px;
    flex-shrink: 1;
}
.travel-price{
    color: var(--mint-cream);
    background-color: var(--blue-gray);
    font-size: 0.9em;
    font-weight: 600;
    flex-basis: 200px;
    border: inherit;
    border-bottom-right-radius: inherit;
    border-top-right-radius: inherit;
    flex-grow: 0;
    gap: 0.5em;
    display: flex;
    align-items: end;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1.5rem 0.5rem 1.5rem 0;
}
.tab-info{
    font-size: 0.7em;
    margin: 0.2em 0.2em;
    flex-basis: 1em;
    overflow: clip;
    text-overflow: ellipsis;
    white-space: break-spaces;
    overflow: hidden;
}
.tab-header{
    margin: 0.2em 0.1em;
    flex-basis: 2em;
}
.tab-header > a{
    color: var(--yinmn-blue);
    text-transform: uppercase;
    text-decoration: none;
}
.tab-header > a:hover{
    color: var(--blue-gray);
}
.tab-stars{
    color: gold;
}